.search-panel-form{
    position: relative;
}

.search-panel-form .search-panel-form-input{
    width: 100%;
    height: 6vh;
    padding: 17px auto 17px 15px !important;
    border: 1.5px solid #202020;
    filter: drop-shadow(0px 14px 35px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.05em;
    outline: none;
    color: #202020;
}

.search-panel-form input{
    padding: 0 15px;
}

.search-panel-form .search-panel-form-button {
    position: absolute;
    min-width: 30px;
    min-height: 30px;
    width: 2vh;
    height: 3vh;
    margin: auto 0;
    right: 0.6vh;
    top: 1.7vh;
    background-color: transparent;
    background-image: url('../../icons/search.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
}


